 .container{
    max-width: 1170px;
    width:100%;
    padding:0 15px;
    margin:0 auto;
    background-color:rgb(255, 247, 130);
} 
*{
    box-sizing:border-box;
}
.top{
    line-height: 2.0em;
}
.event-icon{
    position:relative;
}
/* タブレット向けレイアウト */
@media(max-width:1000px){
    .event{
        width:50%;
        margin-bottom:50px;
    }
    .top-wrapper h1{
        font-size:32px;
    }
    .heading h2{
        font-size:20px;
    }
}
/* スマホ向けレイアウト */
@media(max-width:670px){
    .event{
        width:100%;
    }
    .btn{
        width:100%;
    }
    .youtube{
        margin-bottom:10px;
    }
    .top-wrapper{
        text-align:left;
        padding-top:130px;
    }
    .top-wrapper p{
        font-size:14px;
    }
}