.w-100p{
    width: 100%;
}
.kaicho-prof p{
    font-weight: 400;
}
  .club-intro p{
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 10px;
}
.card-content{
    font-weight: 400;
}

.flex-list{
	display: flex;
    display:inline-block;
}
.flex-list li {
	flex:auto;
}
