body{
    font-family: 'M PLUS 1p', sans-serif;
    font-weight: 800;
}
*{
    box-sizing:border-box;
}
footer{
    clear: both;
}
footer p {
    color: #b3aeb5;
    font-size: 12px;
}
.has-text-centered h1{
    font-size: 1.5em;
    background-color: rgb(255, 222, 36);
    color:red;
    padding:15px 10px;
    font-weight: 800;
    border-radius: 8px;
}
.club-intro p{
    font-weight: 400;
}
.club-intro h2{
    font-size: 1em;
    background-color: rgb(255, 222, 36);
    color:red;
    padding:15px 10px;
    font-weight: 800;
    border-radius: 8px;
}
.kaicho-prof h2{
    font-size: 1em;
    color:red;
    padding:15px 10px;
    font-weight: 800;
    border-radius: 8px;
    background-color:rgb(255, 222, 36);
    position: relative;
}
.kaicho-prof h2:after {
    position: absolute;
    content: '';
    top: 100%;
    left: 30px;
    border: 15px solid transparent;
    border-top: 15px solid #e0edff;
    width: 0;
    height: 0;
  }
.kaicho-prof img{
    margin-top: 15px;
    margin-bottom: 15px;
}
.kaicho-prof p{
    font-weight: 400;
}
.card-content{
    font-weight: 400;
}
/* タブレット向けレイアウト */
@media(max-width:1000px){
    .event{
        width:50%;
        margin-bottom:50px;
    }
    .top-wrapper h1{
        font-size:32px;
    }
    .heading h2{
        font-size:20px;
    }
}
/* スマホ向けレイアウト */
@media(max-width:670px){
    .event{
        width:100%;
    }
    .btn{
        width:100%;
    }
    .youtube{
        margin-bottom:10px;
    }
    .top-wrapper{
        text-align:left;
        padding-top:130px;
    }
    .top-wrapper p{
        font-size:14px;
    }
}