*{
    box-sizing:border-box;
}
.club-intro h1{
    font-size: 2em;
    background-color: rgb(255, 222, 36);
    color:red;
    padding:15px 10px;
    font-family: 'M PLUS 1p', sans-serif;
    font-weight: 800;
}
.club-intro p{
    font-family: 'M PLUS 1p', sans-serif;
    font-weight: 400;
}
.club-member h1{
    font-size: 2em;
    background-color: rgb(255, 222, 36);
    color:red;
    padding:15px 10px;
    font-family: 'M PLUS 1p', sans-serif;
    font-weight: 800;
}
.card-content{
    font-family: 'M PLUS 1p', sans-serif;
    font-weight: 400;
}

/* タブレット向けレイアウト */
@media(max-width:1000px){
    .event{
        width:50%;
        margin-bottom:50px;
    }
    .top-wrapper h1{
        font-size:32px;
    }
    .heading h2{
        font-size:20px;
    }
}
/* スマホ向けレイアウト */
@media(max-width:670px){
    .event{
        width:100%;
    }
    .btn{
        width:100%;
    }
    .youtube{
        margin-bottom:10px;
    }
    .top-wrapper{
        text-align:left;
        padding-top:130px;
    }
    .top-wrapper p{
        font-size:14px;
    }
}